# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/
*.egg-info/

# Archivos de datos pesados originales — NO subir a GitHub
data/OxCGRT_compact_national_v1.csv
data/OxCGRT_simplified_v1.csv
data/INFORM2026_TREND_2017_2026_v72_ALL.xlsx
data/INFORM_Risk_Mid_2025_v071.xlsx
data/202602_INFORM_Severity_-_February_2026.xlsx

# Sistema
.DS_Store
Thumbs.db
*.log
